@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <div id="map" style="width: 400px; height: 300px;"></div>

        <dt>
            @Html.DisplayNameFor(model => model.paymentDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspendStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspendStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspendEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspendEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneTimePickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTimePickup)
        </dd>


        @Html.HiddenFor(model => model.ApplicationId)

    </dl>
</div>
<p>
    <div class="form-group" Runat="Server">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ConfirmPickup" class="btn btn-default" id="ConfirmPickup" />
            
        </div>
    </div>
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/maps.js"></script>
<script> getLoc("@Model.City" + "+" + "@Model.Address")</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap7599">
</script>
<script defer>
    
</script>
<script>
                document.getElementById("ConfirmPickup").onclick = function (e) {

                    if (confirm(
                        "Did you pickup their trash?"
                    )) {
                        $.post(
                            '/Employee/ConfirmPickup/@Model.Id'
                        )
                    }
                }
                e.preventDefault();
</script>