@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
}

<h2>CustomerList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="/Employee/CustomerList" id="dayofWeek">
    <select form="dayofWeek" name="testSelect">
        <option value=0>Sunday</option>
        <option value=1>Monday</option>
        <option value=2>Tuesday</option>
        <option value=3>Wednesday</option>
        <option value=4>Thursday</option>
        <option value=5>Friday</option>
        <option value=6>Saturday</option>
    </select>
    <input type="submit" value="confirm">
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneTimePickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suspendStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suspendEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimePickup)
            </td>

            <td>
                @Html.ActionLink("Employee", "CustomerDetails", new { id = item.Id }) |
            </td>
        </tr>
        @Html.HiddenFor(modelItem => item.ApplicationId)
    }

</table>
